@media(min-width:1024px) {
   .list__input,
   .list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 40vw;
   }
   .list span,
   .list span {
      flex: 1;
   }
}
